//! **************************************************************************
// Written by: Map P.20131013 on Sun Nov 10 13:49:15 2024
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P32" LEVEL 1;
COMP "f" LOCATE = SITE "P29" LEVEL 1;
COMP "g" LOCATE = SITE "P27" LEVEL 1;
COMP "BTN" LOCATE = SITE "P21" LEVEL 1;
COMP "LED0" LOCATE = SITE "P82" LEVEL 1;
COMP "Common0" LOCATE = SITE "P44" LEVEL 1;
COMP "LED1" LOCATE = SITE "P81" LEVEL 1;
COMP "Common1" LOCATE = SITE "P43" LEVEL 1;
COMP "LED2" LOCATE = SITE "P80" LEVEL 1;
COMP "Common2" LOCATE = SITE "P33" LEVEL 1;
COMP "Common3" LOCATE = SITE "P30" LEVEL 1;
COMP "Same7" LOCATE = SITE "P142" LEVEL 1;
COMP "Same8" LOCATE = SITE "P140" LEVEL 1;
COMP "SameC" LOCATE = SITE "P138" LEVEL 1;
COMP "SameL" LOCATE = SITE "P134" LEVEL 1;
COMP "CLK" LOCATE = SITE "P123" LEVEL 1;
COMP "a" LOCATE = SITE "P41" LEVEL 1;
COMP "b" LOCATE = SITE "P40" LEVEL 1;
COMP "c" LOCATE = SITE "P35" LEVEL 1;
COMP "d" LOCATE = SITE "P34" LEVEL 1;
SCHEMATIC END;

